<!-- This partial contain elements of a <head> -->
<title>
    <%= head.title %>
</title>
<!-- use bootstrap CSS definitions, and load them from their CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">